@model Location_Voiture.ModelView.VoitureModelView

@{
    ViewData["Title"] = "Modif";
}
<h1>Edit</h1>

<h4>Voiture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Modif">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input  asp-for="Id" />
            <div class="form-group">
                <label asp-for="Matricule" class="control-label"></label>
                <input asp-for="Matricule" class="form-control" />
                <span asp-validation-for="Matricule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nbr_Porte" class="control-label"></label>
                <input asp-for="Nbr_Porte" class="form-control" />
                <span asp-validation-for="Nbr_Porte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <img src="~/Voiture/@Model.image" height="190px;" width="200px;" />
                <input type="file" asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Couleur" class="control-label"></label>
                <input asp-for="Couleur" class="form-control" />
                <span asp-validation-for="Couleur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Marques</label>
                <select asp-for="Marque.Id" class="form-control"
                        asp-items="@(new SelectList(ViewBag.marques,"Id","Libelle"))"></select>
                <span asp-validation-for="Marque.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
