<div class="container">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-info">Voiture Details</h1>
                </div>
                <div class="card-body">

                </div>
                <div class="card-footer">
                    <a class="btn btn-sm btn-primary m-2 p-3">back To List</a>
                </div>
            </div>
        </div>
    </div>

</div>

